*{
margin:0;
padding:0;
}

body{
font-family:"lucida grande",verdana,helvetica,arial,sans-serif;
font-size:12px;
color:#333;
background:#003d4c url(images/body_bg.gif) repeat-x;
margin: 0;
}

.clear {
display: block;
clear: both;
height: 0;
line-height: 0;
margin: 0;
padding: 0;
}

/*
*  General Style Info
*/

a{
color:#003d4c;
text-decoration:none;
outline:none;
}
a:hover{
color:#003d4c;
text-decoration:underline;
}

a img{
border:none;
}

h2,h3{
font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
font-size:28px;
font-weight:normal;
}

em {
 font-size: 12px;
}

h2, #flashMessage{
margin:0.5em 0;
color:#e32;
}
h4 {
font-size: 120%;
}
ul li {
list-style-image:  url("images/arrow.gif");
}

#container{
	position:relative;
	background: url(../img/cake.icon.gif) no-repeat 10px 10px;
	padding-top:44px;
}

#header {
	position:absolute;
	top:44px;
	left: 12px;
	height:40px;
	line-height:40px;
}

#header h1 a {
	color:#fff;
}

#content{
	position: relative;
	padding:15px;
	padding-bottom: 40px;
	background:#fff;
}

#footer {
	text-align: right;
	color: #fff;
	font-size: 10px;
	padding: 4px;
}

/*
 * navigations
 */

.navigation{
	height:30px;
	line-height:30px;
	padding:0 15px;
}

.navigation li{
	display:block;
	float:left;
}

.navigation a{
	display:block;
	float:left;
	padding:0 12px;
	text-decoration:none;
}
.navigation a:hover {
	text-decoration: underline;
}
#main_nav{
	font-size:120%;
	height:30px;
	line-height:30px;
	background:#cc6;
	padding-top: 9px;
	width:100%;
}
#main_nav .navigation {
	margin-left: 120px;
	font-weight: bold;
}
#main_nav .navigation a:hover, #main_nav .navigation a.on{
	font-weight: bold;
	background: #fff;
	text-decoration: none;
}
#secondary_nav{
	font-size:90%;
	position:absolute;
	top:5px;
	right:0;
	z-index:5;
	background:transparent;
}

#secondary_nav a{
	color:#c0c25b;
}


#sites_nav{
	position:absolute;
	top:5px;
	left:0px;
	width:100%;
	height:40px;
}
#sites_nav .navigation {
	margin-left: 10px;
}
#sites_nav a {
	color:#e77844;
}

#sites_nav li.current a{
	color:#fff;

}
#site_search {
	position:absolute;
	right:0;
	top:42px;
}
#search {
	height:40px;
	line-height:40px;
	min-width:100px;
	padding-right:15px;
	right:0pt;
	top:42px;
}
#search_submit_btn {
	display:inline;
	font-size:100%;
	padding:0px;
	text-align:right;
	position:absolute;
	right:10px;
	text-align:right;
	top:12px;
}
form#search input.query {
	width:200px;
	display:inline;
	position:absolute;
	right:70px;
	top:12px;
	width:180px;
	font-size:100%;
	padding:0;
	margin:0;
	line-height:40px;
}
#content ul, #content li, #content ol {
	margin-left: 20px;
}

/* Tables */
table {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	background-color: #f2f2f2;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	text-align: center;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a:hover {
	background-color: #ccc;
	color: #333;
	text-decoration: none;
}
table tr td {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}
table tr.altrow td {
	background: #f4f4f4;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
td.actions a {
	display: inline;
	margin: 0px 6px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 80%;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
	margin-left: 20px;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	display: block;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 100%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}

/* Notices and Errors */
div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background-color: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background-color: green;
	color: #FFF;
}

/*  Actions  */
div.actions ul {
	margin: 0px 0;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions ul li a {
	color: #003d4c;
	text-decoration: none;
}
div.actions ul li a:hover {
	color: #333;
	text-decoration: underline;
}

/* Related */
div.related {
	clear: both;
	display: block;
}

/* Debugging */
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	border: 4px dotted #ffcc00;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #FFFF00;
	padding: 4px;
}
/*
Log style information
*/
.log-text {
	text-align: left;
}
.logs th.at, .logs th.actions,.logs th.channel, .logs th.username {
	width: 33px;
}

.logs th.text {
	text-align: left;
	border-left: 5px;
}
tr.highlight td{
	background: yellow;
}